In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('weatherHistory_v1.csv')
data_series = pd.Series(data=df.iloc[:,0])
data_series.info()

<class 'pandas.core.series.Series'>
RangeIndex: 70000 entries, 0 to 69999
Series name: Temperature (C)
Non-Null Count  Dtype
--------------  -----
59538 non-null  float64
dtypes: float64(1)
memory usage: 547.0 KB

In [2]:
# sql: select * from data_series

result = data_series[:]
print(result.shape)

(70000,)

In [3]:
# select * from data_series where value > 0
result = data_series[ data_series>0 ]
print(result.shape)

(51962,)

In [21]:
# select * from data_series where value > 10 and value<20
result = data_series[ (data_series>10) & (data_series<20) ]
print(result.shape)

(20138,)

In [23]:
data_series[ (data_series>10) & (data_series<20) ].count()

20138