In [33]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

df = pd.read_csv('weatherHistory2D.csv')
df.head(10)

                  Formatted Date  Temperature (C)
0  2006-01-01 00:00:00.000 +0100         0.577778
1  2006-01-01 01:00:00.000 +0100         1.161111
2  2006-01-01 02:00:00.000 +0100         1.666667
3  2006-01-01 03:00:00.000 +0100         1.711111
4  2006-01-01 04:00:00.000 +0100         1.183333
5  2006-01-01 05:00:00.000 +0100         1.205556
6  2006-01-01 06:00:00.000 +0100         2.222222
7  2006-01-01 07:00:00.000 +0100         2.072222
8  2006-01-01 08:00:00.000 +0100         2.200000
9  2006-01-01 09:00:00.000 +0100         2.733333

In [35]:
df = pd.read_csv('weatherHistory2D.csv')

df['Formatted Date'] = pd.to_datetime(df['Formatted Date'], 
                                      utc=True)
df['month'] = df['Formatted Date'].dt.month
df['year'] = df['Formatted Date'].dt.year
df['day'] = df['Formatted Date'].dt.day
df['hour'] = df['Formatted Date'].dt.hour

df.to_csv('data1.csv')

In [27]:
df = pd.read_csv('weatherHistory2D.csv')

# Converting the dt column to datetime object 
df['Formatted Date'] = [pd.to_datetime(x) for x in df['Formatted Date']]
df['year'] = [x.year for x in df['Formatted Date']]
df['month'] = [x.month for x in df['Formatted Date']]
df['day'] = [x.day for x in df['Formatted Date']]
df['hour'] = [x.hour for x in df['Formatted Date']]

df.to_csv('data2.csv')

In [30]:
datetime = pd.to_datetime('2006-12-01 00:00:00.000 +0100',  utc=False)
print(datetime)
print(datetime.year)
print(datetime.month)
print(datetime.day)
print(datetime.hour)

2006-12-01 00:00:00+01:00
2006
12
1
0

In [7]:
# create a DataFrame 
df2 = pd.DataFrame({
    'year': [datetime.year],
    'month': [datetime.month],
    'day': [datetime.day],
    'hour': [datetime.hour]
})

# print
print(df2)

   year  month  day  hour
0  2006     12    1     0